*
{
	margin:0;
	padding:0;
}
label.loginlabel
{
	font-size:15px;
}
body
{
	margin:0 auto;
	color:#595959;
	background-color:#fff;
	text-align:center;
	font:normal 12px arial,helvetica,sans-serif
}
#formWrapper
{
	width:450px;
	margin:0 auto;
	min-width:inherit;
	padding:0 20px 10px;
	text-align:left
}
#formCasing
{
	background:url("login-case.png") no-repeat top left;
	padding:20px 35px 1px 27px;
	zoom:1.0
}
#formFooter
{
	background:url("login-footer.png") no-repeat top left;
	height:18px}
#meta
{
	font-size:24px;	
}
#additional
{
	width:500px;
	margin:100px auto 0
}
form dl
{
	margin:15px 0
}
form dt
{
	float:left;
	width:100%;
	font-size:14px;
	line-height:24px;
	color:#a5a5a5;
	padding-top:5px
}
form dd,td
{
	margin:0 0 10px 90px;
	font-size:12px;
	line-height:24px;
	color:#a5a5a5;
	margin-left:80px;
	width:100%;
}
dd span
{
	color:#ccc
}
h1
{
	font-size:24px;
	margin:7px 0 8px;
	padding:0 0 12px;
	text-align:left;
	line-height:26px;
	padding:12px 0 12px 0!ie
}
h2
{
	font-size:14px;
	color:#2ba02c
}
input:not([type="image"]),textarea
{
	font-size:14px;padding:8px 5px;
	font:normal 14px arial,helvetica,sans-serif;
	border:1px solid #dcdcdc;
	color:#444;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-border-radius:4px
}
input.input:focus
{
	border:1px solid #bfbfbf;outline:none
}
input#submit
{
	padding:0;vertical-align:middle
}
input[type="text"]
{
	width:280px
}
input#opass
{
	width:150px;margin-right:5px
}

