#ufail,.herebox
{
	block:true;
	-webkit-box-shadow: #222 0px 1px 3px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(15, 15, 15, 0.847656)), to(#0A0A0A));
	color: #CCC;
	width:auto;
	height:auto;
	text-align:center;
	font-size: 21px;
	border-style:solid;
}
#ufail
{
	height:40px;
}
.herebox 
{
	display:inline-block;
	position:relative;
	top:90px;
	padding:0.3em;
}

