/* START Default colour styles */

body {
	background-image: url(../../images/design/background-grey-image.jpg);
	background-repeat: repeat;
}

body, p, div {
	color: #494949;
}

.form-item input.error, .form-item textarea.error, .form-item select.error {
	border-color: #ff0000 !important;
}

a:link {
	color:#2885A0;
}


a:hover {
	color:#1D718F;
}


/* Buttons */
a.button-link,
a#rollover,
input[type=submit] {
	border: none;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

a.button-link,
input[type=submit] {
	color: #fff;
	-moz-text-shadow: 0px 1px 0 #000;
	-webkit-text-shadow: 0px 1px 0 #000;
	text-shadow: 0px -1px 0 #000;
}

input[type=submit] {
	background-color: transparent;
}

a.button-link,
a#rollover {
	-moz-box-shadow: 0 0 1px #3C3C3C;
	-webkit-box-shadow: 0 0 1px #3C3C3C;
	box-shadow: 0 0 1px #3C3C3C;
}

.star-left {
	background-image: url(../../images/design/star-white-left.png);
}

.star-right {
	background-image: url(../../images/design/star-white-right.png);
}

/* Buttons - links */

a.button-link .star-left {
	background-position: left center;
}

a.button-link .star-right {
	background-position: right center;
}

/* Buttons - input */

a#rollover {
	background-color: #e54a4a;
}

a#rollover:hover {
	background-color: #1d718f;
}

a#rollover.done {
	background-color: #97af45!important;
}

a#rollover .star-left {
	background-position: left top;
}

a#rollover .star-right {
	background-position: right top;
}

/* END Default colour styles */

/* START Newsletter */

.region-ultra-top {
	background-image: url("../../images/design/newsletter_bg.png");
	background-position:center bottom;
	background-repeat:repeat-x;
}

#block-phplist-0 h2 {
	text-shadow: 0px -1px 0 #000;
	-moz-text-shadow: 0px -1px 0 #000;
	-webkit-text-shadow: 0px -1px 0 #000;
}

#block-phplist-0 h2, #block-phplist-0 div, #block-phplist-0 input[type=text]{
	color:#f8f6ea;
}

#block-phplist-0 input[type=text] {
	background-color: rgba(103, 104, 102, 0.7);
	border: 1px dashed #f9f7eb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#block-phplist-0 input[type=text]:focus {
	background-color: rgba(145, 145, 145, 0.7);
}

/* END Newsletter */

/* START Header */

#block-menu-primary-links a {
	color: #494949;
	text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.8);
	-moz-text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.8);
	-webkit-text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.8);
}

body.front #block-block-8 .content {
	background-image: url(../../images/design/logo.png);
}

body.not-front #block-block-8 .content {
	background-image: url(../../images/design/logo-small.png);
}

#block-menu-primary-links a {
	background-position: top center;
}

#block-menu-primary-links a#home {
	background-image: url(../../images/design/circle-menu-home.png);
}

#block-menu-primary-links .active-trail a,
#block-menu-primary-links a:hover {
	background-position:center -148px;
}

#block-menu-primary-links a#team {
	background-image: url(../../images/design/circle-menu-team.png);
}

#block-menu-primary-links a#leistungen {
	background-image: url(../../images/design/circle-menu-services.png);
}

#block-menu-primary-links a#drupal {
	background-image: url(../../images/design/circle-menu-drupal.png);
}

#block-menu-primary-links a#kunden {
	background-image: url(../../images/design/circle-menu-clients.png);
}

#block-menu-primary-links a#kontakt {
	background-image: url(../../images/design/circle-menu-contact.png);
}

#block-menu-primary-links a#newsletter {
	background-image: url(../../images/design/circle-menu-newsletter.png);
}

#block-menu-primary-links ul li a:hover,
#block-menu-primary-links ul li a.active {
	color: #dc474e;
}

/* END Header */

/* START Footer */

.region-footer,
.region-page-closure {
	background-image: url(../../images/design/dashed-line.png);
}

#block-menu-secondary-links a,
#block-locale-0 a,
#block-menu-menu-social-media-links li#social_links_hover {
	color: #494949;
	text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.8);
	-moz-text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.8);
	-webkit-text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.8);
}

#block-menu-secondary-links ul li a:hover,
#block-locale-0 a:hover {
	color: #dc474e;
}

#block-menu-menu-social-media-links a {
	background-position: top center;
}

#block-menu-menu-social-media-links a {
	background-image: url(../../images/design/icon-flickr.png);
}

#block-menu-menu-social-media-links li.first a {
	background-image: url(../../images/design/icon-facebook.png);
}

#block-menu-menu-social-media-links li.last a {
	background-image: url(../../images/design/icon-vimeo.png);
}

#block-block-12 .content {
	background-image: url(../../images/design/logo_inverted.png);
	background-position:left bottom;
}

#block-aggregator-feed-2 {
	background-image: url(../../images/design/twitter.png);
}

#block-aggregator-feed-2 a,
#block-aggregator-feed-2 h2 a {
	color: #e54a4a;
}

#block-aggregator-feed-2 h2 a:hover,
#block-aggregator-feed-2 p {
	color: #2885a0;
}

#block-aggregator-feed-2 h3 {
	color:#29a9cb;
}

#block-aggregator-feed-2 .twitter_title {
	color:#aaaca5
}

/* END Footer */

/* START Home */

#css_id_page_home #bulb {
	background-image: url(../../images/design/home-main_hover.png);
}

body.i18n-de #css_id_page_home #bulb { 
	background-image: url(../../images/design/home-main-deutsch_hover.png);
}

#css_id_page_home h2,
#css_id_page_home .field-field-second-title .field-item,
#css_id_page_home .field-field-first-title p a,
#css_id_page_home p {
	text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.8);
	-moz-text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.8);
	-webkit-text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.8);
}

#css_id_page_home #contact-us-container a {
	background-image: url(../../images/design/contact-us.png);
}

body.i18n-de #css_id_page_home #contact-us-container a {
	background-image: url(../../images/design/contact-us-de.png);
}

#css_id_page_home #contact-us-container a:hover {
	background-position:0 -137px;
}

#css_id_page_home .row-content-bottom {
	background-image: url(../../images/design/points-arrow.png);
	background-position: 100px 0;
}

#css_id_page_home .region-content-bottom .panel-region-separator {
	background-image: url(../../images/design/points-vertical.png);
	background-position: 100px 0;
}

#css_id_page_home #bulb h2,
#css_id_page_home #community .field-field-first-title p a {
	color: #2885a0;
}

#css_id_page_home #community .field-field-first-title p a:hover {
	color: #1d718f;
}

#css_id_page_home #development .field-field-first-title p a {
	color: #e54a4a;
}

#css_id_page_home #development .field-field-first-title p a:hover {
	color: #cf4c4c;
}

#css_id_page_home #consulting .field-field-first-title p a {
	color: #7f933b;
}

#css_id_page_home #consulting .field-field-first-title p a:hover {
	color: #7e862f;
}

#css_id_page_home #community,
#css_id_page_home #development,
#css_id_page_home #consulting {
	background-image: url(../../images/design/points-horizontal.png);
	background-position: 0 65px;
}

#css_id_page_home .field-field-image,
#css_id_page_home .field-field-icon-startpage {
	background-image: url(../../images/design/points-vertical.png);
	background-position: 85px 190px;
}

#css_id_page_home #consulting .field-field-icon-startpage a {
	background-image: url(../../images/design/services-consulting-small.png);
}

#css_id_page_home #development .field-field-icon-startpage a {
	background-image: url(../../images/design/services-development-small.png);
}

#css_id_page_home #community .field-field-icon-startpage a {
	background-image: url(../../images/design/services-community-small.png);	
}
#css_id_page_home #consulting .field-field-icon-startpage a:hover,
#css_id_page_home #development .field-field-icon-startpage a:hover,
#css_id_page_home #community .field-field-icon-startpage a:hover {
	background-position:0 -190px;
}

#css_id_page_home #consulting .field-field-image,
#css_id_page_home #consulting .field-field-icon-startpage  {
	background: none;
}

#css_id_page_home #community a.button-link {
	background-color: #2885a0;
}

#css_id_page_home #community a.button-link:hover {
	background-color: #1d718f;
}

#css_id_page_home #development a.button-link {
	background-color: #e54a4a;
}

#css_id_page_home #development a.button-link:hover {
	background-color: #cf4c4c;
}

#css_id_page_home #consulting a.button-link {
	background-color: #97af45;
}

#css_id_page_home #consulting a.button-link:hover {
	background-color: #7e992f;
}

/* END Home */

/* START Team */

#css_id_page_team .field-field-first-title p,
#css_id_page_team .field-field-second-title {
	text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.8);
	-moz-text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.8);
	-webkit-text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.8);
}

#css_id_page_team #gregory .field-field-first-title p,
#css_id_page_team #gregory .field-field-phone p,
#css_id_page_team #gregory .field-field-email a,
#css_id_page_team #gregory .field-field-twitter a {
	color: #2885a0;
}

#css_id_page_team #dania .field-field-first-title p,
#css_id_page_team #dania .field-field-phone p,
#css_id_page_team #dania .field-field-email a,
#css_id_page_team #dania .field-field-twitter a {
	color: #e54a4a;
}

#css_id_page_team #michi .field-field-first-title p,
#css_id_page_team #michi .field-field-phone p,
#css_id_page_team #michi .field-field-email a,
#css_id_page_team #michi .field-field-twitter a {
	color: #7f933b;
}

#css_id_page_team #matze .field-field-first-title p,
#css_id_page_team #matze .field-field-phone p,
#css_id_page_team #matze .field-field-email a,
#css_id_page_team #matze .field-field-twitter a {
	color: #e2254a;
}

#css_id_page_team #mark .field-field-first-title p,
#css_id_page_team #mark .field-field-phone p,
#css_id_page_team #mark .field-field-email a,
#css_id_page_team #mark .field-field-twitter a {
	color: #fe6500;
}

#css_id_page_team #kathryn .field-field-first-title p,
#css_id_page_team #kathryn .field-field-phone p,
#css_id_page_team #kathryn .field-field-email a,
#css_id_page_team #kathryn .field-field-twitter a {
	color: #b4486d;
}

#css_id_page_team #samuel .field-field-first-title p,
#css_id_page_team #samuel .field-field-phone p,
#css_id_page_team #samuel .field-field-email a,
#css_id_page_team #samuel .field-field-twitter a {
	color: #929324;
}

#css_id_page_team #juanlu .field-field-phone p,
#css_id_page_team #juanlu .field-field-email a,
#css_id_page_team #juanlu .field-field-twitter a {
	color: #be992f;
}

#css_id_page_team #danny .field-field-first-title p,
#css_id_page_team #danny .field-field-phone p,
#css_id_page_team #danny .field-field-email a,
#css_id_page_team #danny .field-field-twitter a {
	color: #8055b6;
}

#css_id_page_team #vasi .field-field-first-title p,
#css_id_page_team #vasi .field-field-phone p,
#css_id_page_team #vasi .field-field-email a,
#css_id_page_team #vasi .field-field-twitter a {
	color: #ef8c23;
}

#css_id_page_team .field-field-email a:hover,
#css_id_page_team .field-field-twitter a:hover {
	color: #1d718f !important;
}

#css_id_page_team .phone-image {
	background-image: url(../../images/design/contact-phone-black.png);
	background-position: 0 0;
}

#css_id_page_team .email-image {
	background-image: url(../../images/design/contact-envelope-black.png);
	background-position: 0 0;
}

#css_id_page_team .twitter-image {
	background-image: url(../../images/design/contact-twitter-black.png);
	background-position: 0 0;
}

#css_id_page_team .field-field-fun-fact .field-items {
	border-bottom: 1px dashed;
}

#css_id_page_team .content div p {
	background: none;
}

#css_id_page_team .content p,
#css_id_page_team .field-field-fun-fact,
#css_id_page_team .field-field-phone,
#css_id_page_team .field-field-email,
#css_id_page_team .field-field-twitter {
	background-color: #f8f6ea;
}

#css_id_page_team .content > p {
	-moz-border-radius: 15px 15px 0 0;
	-webkit-border-radius: 15px 15px 0 0;
	border-radius: 15px 15px 0 0;
}

#css_id_page_team .field-field-second-title p:after {
	content:"\00a0";
	display: block; /* reduce the damage in FF3.0 */
	border-width: 0 12px 36px 12px; /* vary these values to change the angle of the vertex */
	border-style: solid;
	border-color: transparent transparent #f8f6ea;	
	height: 0;
	left: 135px;
	position: relative;
	top: 6px; /* value = - border-top-width - border-bottom-width */
	width: 0;	
}

#css_id_page_team .field-field-twitter {
	-moz-border-radius: 0 0 15px 15px;
	-webkit-border-radius: 0 0 15px 15px;
	border-radius: 0 0 15px 15px;
}

/* END Team */

/* START Services */

#css_id_page_services .panels-flexible-row-grid-2,
#css_id_page_services .panels-flexible-row-grid-2 .panels-flexible-region {
	background-image: url(../../images/design/points-horizontal-short.png);
}

#css_id_page_services .panels-flexible-row-grid-2 {
	background-position: 0 190px;
}

#css_id_page_services .panels-flexible-row-grid-2 .panels-flexible-region {
	background-position: 303px 190px;
}

#css_id_page_services .panels-flexible-row-grid-2 .field-field-image {
	background-image: url(../../images/design/points-vertical.png);
	background-position: 141px 305px;
}

#css_id_page_services #community h2,
#css_id_page_services #community .field-field-second-title p {
	color: #2885a0;
}

#css_id_page_services #development h2,
#css_id_page_services #development .field-field-second-title p {
	color: #e54a4a;
}

#css_id_page_services #consulting h2,
#css_id_page_services #consulting .field-field-second-title p {
	color: #7f933b;
}

#css_id_page_services h2,
#css_id_page_services .field-field-second-title p {
	text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.8);
	-moz-text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.8);
	-webkit-text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.8);
}

#css_id_page_services #community h3 {
	background-color: #4c97ac;
}

#css_id_page_services #development h3 {
	background-color: #e54a4a;
}

#css_id_page_services #consulting h3 {
	background-color: #97af45;
}

#css_id_page_services h3 {
	color: #f8f6ea;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#css_id_page_services .h3-wrapper,
#css_id_page_services .panels-flexible-row-grid-2 .content > p,
#css_id_page_services .field-field-content {
	background-color: #f8f6ea;
}

#css_id_page_services .panels-flexible-row-grid-2 .content > p {
	-moz-border-radius: 15px 15px 0 0;
	-webkit-border-radius: 15px 15px 0 0;
	border-radius: 15px 15px 0 0;
}

#css_id_page_services .field-field-content {
	-moz-border-radius: 0 0 15px 15px;
	-webkit-border-radius: 0 0 15px 15px;
	border-radius: 0 0 15px 15px;
}

#css_id_page_services .node-type-testimony .field-field-content {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

#css_id_page_services .field-field-second-title p:after {
	content:"\00a0";
	display: block; /* reduce the damage in FF3.0 */
	border-width: 0 12px 36px 12px; /* vary these values to change the angle of the vertex */
	border-style: solid;
	border-color: transparent transparent #f8f6ea;	
	height: 0;
	left: 135px;
	position: relative;
	top: 6px; /* value = - border-top-width - border-bottom-width */
	width: 0;	
}

#css_id_page_services #community .field-field-second-title p:after {
	left: 145px;
}

#css_id_page_services .panels-flexible-row-grid-3 {
	background-image: url(../../images/design/dashed-line.png);
}
/*
#css_id_page_services .panels-flexible-row-grid-3 .field-field-image {
	border: 7px solid rgba(248, 246, 234, 0.7);
	-moz-border-radius: 55px;
	-webkit-border-radius: 55px;
	border-radius: 55px;
	height: 80px;
	width: 80px;
}
*/
#css_id_page_services .panels-flexible-row-grid-3 .field-field-image:after {
	content:"\00a0";
	display: block; /* reduce the damage in FF3.0 */
	/*border-width: 36px 12px 0px 12px; /* vary these values to change the angle of the vertex */
	border-style: solid;
	height: 0;
	position: relative;
	width: 0;
	top: -60px; /* controls vertical position */
	left: 82px; /* value = - border-left-width - border-right-width */
	border-width: 10px 20px;
	border-color: transparent #f8f6ea transparent transparent;
}

#css_id_page_services .panels-flexible-row-grid-3 p {
	color:#2885a0;
}

#css_id_page_services .panels-flexible-row-grid-3 .field-field-company a,
#css_id_page_services .panels-flexible-row-grid-3 .field-field-company{
	color:#e54a4a;
}

#css_id_page_services .panels-flexible-row-grid-3 .field-field-company a:hover {
	color: #1d718f;
}

#css_id_page_services .panels-flexible-row-grid-3 .quotation-top {
	background-image: url("../../images/design/quotation-top.png");
}

#css_id_page_services .panels-flexible-row-grid-3 .quotation-bottom{
	background-image: url("../../images/design/quotation-bottom.png");
}


#css_id_page_services .panels-flexible-row-grid-3 .quotation-top,
#css_id_page_services .panels-flexible-row-grid-3 .quotation-bottom{
	background-repeat:no-repeat;
}
#css_id_page_services .panels-flexible-row-grid-4 a {
	background-color: #e54a4a;
	color: #fff;
	padding: 10px 30px 5px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

#css_id_page_services .panels-flexible-row-grid-4 a:hover {
	background-color: #1d718f;
}

#css_id_page_services .panels-flexible-row-grid-4 {
	background-image: url("../../images/design/points-arrows.png");
	background-position: center;
}

/* END Services */

/* START Clients */

#css_id_page_clients h2 {
	background-position: 0 8px;
	-moz-text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.8);
	-webkit-text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.8);
	text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.8);
}

#css_id_page_clients .field-field-why-they-came-to-us,
#css_id_page_clients .field-field-what-they-got {
	background-color: #f8f6ea;
}

#css_id_page_clients .field-field-why-they-came-to-us {
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}

#css_id_page_clients .field-field-what-they-got {
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}

#css_id_page_clients .field-field-link a{
color:white;
font-family:ClumsyRegular,serif;
font-size:17px;
}
#css_id_page_clients .field-field-link a:hover {
}
#css_id_page_clients .pane-content .field-field-why-they-came-to-us:after {
	border-color: transparent #f8f6ea transparent transparent;
	border-style: solid;
	border-width: 10px 20px;
	content: "\00a0";
}

#css_id_page_clients .jcarousel-skin-tango .jcarousel-container {
	border: 15px solid #f8f6ea;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

#css_id_page_clients .jcarousel-prev-horizontal,
#css_id_page_clients .jcarousel-next-horizontal {
	border: 5px solid #f8f6ea;
	-moz-box-shadow: 0 0 3px #3C3C3C;
	-webkit-box-shadow: 0 0 3px #3C3C3C;
	box-shadow: 0 0 3px #3C3C3C;
}

#css_id_page_clients .jcarousel-prev-horizontal,
#css_id_page_clients .jcarousel-next-horizontal,
#css_id_page_clients .jcarousel-prev-horizontal span,
#css_id_page_clients .jcarousel-next-horizontal span {
	background-position: center;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
}

#css_id_page_clients .jcarousel-prev-horizontal,
#css_id_page_clients .jcarousel-next-horizontal {
	background-image: url(../../images/design/carousel-arrow-texture.png);
}

#css_id_page_clients .jcarousel-prev-horizontal:hover,
#css_id_page_clients .jcarousel-next-horizontal:hover,
#css_id_page_clients .field-field-link a:hover {
	background-color: #4e4e4e !important;
}

#css_id_page_clients .jcarousel-prev-horizontal span {
	background-image: url(../../images/design/arrow-left.png);
}

#css_id_page_clients .jcarousel-next-horizontal span {
	background-image: url(../../images/design/arrow-right.png);
}

#css_id_page_clients .panel-region-separator {
	background-image: url(../../images/design/dashed-line.png);
}

#css_id_page_clients #client-kpmg h2,
#css_id_page_clients #client-kpmg .field-label {
	color: #2885a0;
}



#css_id_page_clients #client-kpmg li {
	list-style-image: url(../../images/design/star-blue.png);
}

#css_id_page_clients #client-kpmg .jcarousel-prev-horizontal,
#css_id_page_clients #client-kpmg .jcarousel-next-horizontal,
#css_id_page_clients #client-kpmg .field-field-link a {
	background-color: #2885a0;
}

#css_id_page_clients #client-pascale h2,
#css_id_page_clients #client-pascale .field-label {
	color: #e54a4a;
}


#css_id_page_clients #client-pascale li {
	list-style-image: url(../../images/design/star-red.png);
}

#css_id_page_clients #client-pascale .jcarousel-prev-horizontal,
#css_id_page_clients #client-pascale .jcarousel-next-horizontal,
#css_id_page_clients #client-pascale .field-field-link a {
	background-color: #e54a4a;
}

#css_id_page_clients #client-prosieben h2,
#css_id_page_clients #client-prosieben .field-label {
	color: #7f933b;
}

#css_id_page_clients #client-prosieben li {
	list-style-image: url(../../images/design/star-green.png);
}

#css_id_page_clients #client-prosieben .jcarousel-prev-horizontal,
#css_id_page_clients #client-prosieben .jcarousel-next-horizontal,
#css_id_page_clients #client-prosieben .field-field-link a  {
	background-color: #7f933b;
}

#css_id_page_clients #client-kagiso h2,
#css_id_page_clients #client-kagiso .field-label {
	color: #8055b6;
}

#css_id_page_clients #client-kagiso li {
	list-style-image: url(../../images/design/star-purple.png);
}

#css_id_page_clients #client-kagiso .jcarousel-prev-horizontal,
#css_id_page_clients #client-kagiso .jcarousel-next-horizontal,
#css_id_page_clients #client-kagiso .field-field-link a {
	background-color: #8055b6;
}

#css_id_page_clients #client-sgg h2,
#css_id_page_clients #client-sgg .field-label {
	color: #4e4e4e;
}

#css_id_page_clients #client-sgg li {
	list-style-image: url(../../images/design/star-yellow.png);
}

#css_id_page_clients #client-sgg .jcarousel-prev-horizontal,
#css_id_page_clients #client-sgg .jcarousel-next-horizontal,
#css_id_page_clients #client-sgg .field-field-link a {
	background-color: #ffcf49;
}

#css_id_page_clients #client-ubs h2,
#css_id_page_clients #client-ubs .field-label {
	color: #e2254a;
}

#css_id_page_clients #client-ubs li {
	list-style-image: url(../../images/design/star-magenta.png);
}

#css_id_page_clients #client-ubs .jcarousel-prev-horizontal,
#css_id_page_clients #client-ubs .jcarousel-next-horizontal,
#css_id_page_clients #client-ubs .field-field-link a  {
	background-color: #e2254a;
}

/* END Clients */

/* START Contact */

#css_id_page_contact h2,#css_id_page_event h2 {
	color: #2885a0;
	-moz-text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.8);
	-webkit-text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.8);
	text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.8);	
}

#css_id_page_contact h2:after, /*#css_id_page_event .column-right-row-top .content h2:after*/{
	content:"\00a0";
	display: block;
	border-width: 0 12px 36px 12px;
	border-style: solid;
	border-color: transparent transparent #f8f6ea;	
	height: 0;
	left: 35px;
	position: relative;
	top: 4px;
	width: 0;	
}

#css_id_page_contact .column-left form,#css_id_page_event .column-right-row-top form {
	background-color: #f8f6ea;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

#css_id_page_contact .column-left form input[type=text],
#css_id_page_contact .column-left form textarea,#css_id_page_event .column-right-row-top form input[type=text],
#css_id_page_event .column-right-row-top form textarea {
	background-color: #eae9de;
	border: 1px dashed #2885a0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#css_id_page_contact .column-left form input[type=text]:focus,
#css_id_page_contact .column-left form textarea:focus,#css_id_page_event .column-right-row-top form input[type=text]:focus,
#css_id_page_event .column-right-row-top form textarea:focus {
	background-color: #dadcd8;
}

#css_id_page_contact .column-right-row-top,#css_id_page_event #address iframe, #css_id_page_event #address img {
	border: 15px solid #f8f6ea;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}
#css_id_page_event .column-left .pane-1 {
	margin-top: 20px;
	height: 232px;
}

#css_id_page_contact .column-right-row-bottom p,#css_id_page_event .column-left p {
	text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.8);
	-moz-text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.8);
	-webkit-text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.8);
}

#css_id_page_contact .column-right-row-bottom #we-are-waiting-for-you p#tlf,#css_id_page_event .column-right-row-top #we-are-waiting-for-you p#tlf {
	background-image: url(../../images/design/contact-phone-grey.png);
}

#css_id_page_contact .column-right-row-bottom #we-are-waiting-for-you p#email a,#css_id_page_event .column-right-row-top #we-are-waiting-for-you p#email a {
	background-image: url(../../images/design/contact-envelope-grey.png);
}

#css_id_page_contact .column-right-row-bottom #we-are-waiting-for-you p#twitter a,#css_id_page_event .column-right-row-top #we-are-waiting-for-you p#twitter a {
	background-image: url(../../images/design/contact-twitter-grey.png);
}

#css_id_page_contact .column-right-row-bottom p a,#css_id_page_event .column-left p a {
	color: #e54a4a;
	text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.8);
	-moz-text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.8);
	-webkit-text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.8);
}

#css_id_page_contact .column-right-row-bottom p a:hover,#css_id_page_event .column-left p a:hover {
	color: #1d718f;
}

/* END Contact */

/* START Static pages */

.node-type-static-page #main-wrapper h1.title {
	color: #2885a0;
	text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.8);
	-moz-text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.8);
	-webkit-text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.8);
}

#main-wrapper .node-type-static-page .field-field-content {
	background-color: #f8f6ea;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}

#main-wrapper .node-type-static-page .field-field-content:before {
	border-color: transparent transparent #f8f6ea;
	border-style: solid;
	border-width: 0 12px 20px;
	content: "\00a0";
	display: block; /* reduce the damage in FF3.0 */
	height: 0;
	left: 60px;
	position: relative;
	top: -20px; /* value = - border-top-width - border-bottom-width */
	width: 0;	
}

.node-type-static-page #main-wrapper h2 {
	background-color: #2885a0;
	color: #f8f6ea;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.node-type-static-page #main-wrapper a {
	color: #e54a4a;
}

.node-type-static-page #main-wrapper a:hover {
	color: #2885a0;
}

/* END Static pages */