.button,input[type=submit] {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover,input[type=submit] {
	text-decoration: none;
}
.button:active,input[type=submit] {
	position: relative;
	top: 1px;
}

/* blue */
.blue,input[type=submit] {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#0272a7), to(#013953));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover,input[type=submit]:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active,input[type=submit]:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
.unav
{
	-webkit-box-shadow: #222 0px 1px 3px;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(15, 15, 15, 0.847656)), to(#0A0A0A));
color: #CCC;
	width:auto;

}
#notif
{
	display:block;
	background-color:cyan;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding: 10px 10px 10px 25px;
	text-align:center;
	-moz-box-shadow: 0 1px 1px white inset;
	-webkit-box-shadow: 0 1px 1px white inset;
	box-shadow: 0 1px 1px white inset;
	
}
#noterr
{
	display:block;
	background-color:red;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding: 10px 10px 10px 25px;
	text-align:center;
	-moz-box-shadow: 0 1px 1px white inset;
	-webkit-box-shadow: 0 1px 1px white inset;
	box-shadow: 0 1px 1px white inset;
}
#notwar
{
	display:block;
	background-color:orange;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding: 10px 10px 10px 25px;
	text-align:center;
	-moz-box-shadow: 0 1px 1px white inset;
	-webkit-box-shadow: 0 1px 1px white inset;
	box-shadow: 0 1px 1px white inset;
	
}
#notif,#noterr,#notwar
{
	
	border: 1px solid;
	
}
#content,#notif,#noterr,#notwar
{
	margin-right:100px;
	margin-left:100px;

}
#leftnav
{

	float:left;
	position:absolute;
	width:200px;
	word-wrap:break-word;
}
#omni2
{

	top:100%;
}
